@{
    ViewData["Title"] = "COMP2084 - Lab2";
}

<div class="text-center">
    <h1 class="display-4">Welcome Come Back!  <br /><a class="shopping-button" href="../Categories">Click here to start Shopping!</a></h1>
   
</div>
